<header >
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-warning border-bottom box-shadow mb-3 ">
            <div class="container-fluid ">   
                <a class="navbar-brand text-danger" asp-controller="Home" asp-action="Index">Da Gianfri u Pizzajuol</a>                
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav mr-auto flex-grow-1 ">                        
                        <li class="nav-item"><a class="dropdown-item" href="/">Home</a></li>
                        <li class="nav-item"><a class="dropdown-item" href="/Pizza">Le nostre pizze</a></li>  
                        <li class="nav-item"> <a class="dropdown-item" href="/Ricarica">Contatti</a></li>  
                        <li class="nav-item"><a class="dropdown-item" href="/Supporto">Effettua un ordine</a></li>  
                        <li class="nav-item"><a class="dropdown-item" href="#">Info allergeni</a></li>  
                        <li class="nav-item"><a class="dropdown-item" href="/Supporto">Provenienza dei nostri prodotti</a></li>  
                    </ul>
                </div>                
            </div>
        </nav>
</header>